<div style="
            position: absolute;
            left: 40%;
            top: 10%;
            height: 150px;
            width: 300px;
            background-color: white;
            text-align: center;
            border: 3px solid black;
            border-radius: 10px;
            font-family: arial;
            z-index: 10;
            " 
     class="modal-body" id="modal-body">
<h4 >Enter Room Name</h4>
    <input type="text" ng-model="newRoomText"><br><br>
    <button type="button" ng-click="Md.addRoom(newRoomText)">Create</button>
    <button type="button" ng-click="Md.cancel()">Cancel</button>
</div>